#frontPage {
    height: 100%;
    width: 100%;
}

#frontPageLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
}

#frontpageForm {
    width: 50%;
    padding-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.leftLink {
    float: left;
}
.rightLink {
    float: right;
}